<footer class="d-flex justify-content-center mt-5">
  <div class="col">
    <a href="/">
      <img width="75px;" height: "100px;" src="{{asset('images/logo-white.png')}}" alt="logo
            chapelle" />
    </a>
    <p class="my-4 text-marronClaire">
      1 avenue de l'ancien, Chapelle-Curreaux, 38460, Fr
    </p>
    <p class=" text-marronClaire">
      &copy; La Médiathèque de la Chapelle-Curreaux
    </p>
  </div>

  <div class="col mb-3">
    <h5 class="text-marronClaire">
      MENU
    </h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a href="/" class="nav-link p-0  text-marronClaire">Accueil</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0  text-marronClaire">S'enregistrer</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-marronClaire">Aide</a>
      </li>
    </ul>
  </div>

  <div class="col mb-3">
    <h5 class="text-marronClaire">
      NOUS SUIVRE
    </h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0  text-marronClaire">Facebook</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0  text-marronClaire">Twitter</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0  text-marronClaire">Instagram</a>
      </li>
    </ul>
  </div>
</footer>