<div class="px-4 py-5 my-5 text-center border-bottom">
    <a href="/">
    <img class"text-blancCasse" width" 150px"; height="200px"; src="{{asset('images/logo-white.png')}}" alt="logo
    chapelle">
  </a>
    <h1 class="display-5 fw-bold mt-3 text-marronClaire">Bienvenue dans votre Librairie</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 text-marronClaire">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button  class="btn btn-sable me-2 " type="submit"><a class="nav-link text-marronFonce fw-normal" href="{{ path('app_login') }}">Connexion</a></button>
        <button  class="btn btn-marronClaire" type="submit"><a class="nav-link text-sable fw-normal" href="#">S'enregistrer</a></button>
      </div>
    </div>
  </div>
