<section class="container text-center text-marronClaire w-50">
  <form style="margin-top: 100px;">
    <div class="d-flex justify-content-center">
      <a href="{{ path('app_search') }}"class="btn btn-sable text-marronFonce ms-3" type="button">
        Nouvelle recherche
      </a>
    </div>
  </form>
</section>