<section class="container text-center text-marronClaire w-50">
  <h1 class="fw-bolder" style="margin-top: 100px;">
    Par Categorie
  </h1>
  <div class="d-flex justify-content-center ms-auto">
    <div class="card text-bg-light ms-3"
      style="max-width: 18rem; margin-top: 100px">
      <div class="card-header">
        Header
      </div>
      <div class="card-body">
        <h5 class="card-title">
          Light card title
        </h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
    <div class="card text-bg-light ms-3"
      style="max-width: 18rem; margin-top: 100px">
      <div class="card-header">
        Header
      </div>
      <div class="card-body">
        <h5 class="card-title">
          Light card title
        </h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
    <div class="card text-bg-light ms-3"
      style="max-width: 18rem; margin-top: 100px">
      <div class="card-header">
        Header
      </div>
      <div class="card-body">
        <h5 class="card-title">
          Light card title
        </h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
  <form style="margin-top: 100px; margin-bottom: 75px;" role="search">
    <div class="d-flex justify-content-center">
      <button class="btn btn-sable text-marronFonce ms-3" type="submit">
        Toute les Categories
      </button>
    </div>
  </form>
</section>